{% extends 'base.html.twig' %}

{% block content %}
<style>
    .contact {
        background-image: url("{{ asset('assets/images/ecole.jpg')}}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
    }

    .baniere-doc {
        background-image: url("{{ asset('assets/images/books.jpg')}}");
        padding: 50px;
    }
</style>

    <main>
        <section class="baniere-doc d-flex justify-content-center">
            <h1 class="align-self-center">Liens Utiles</h1>
        </section>
        <section class="lienUtile d-flex flex-column align-items-center mt-5" style="height: 400px" >
            <div class="p-2">
                {% for lien in liens %}
                    <a href="{{ lien.lien }}"> {{lien.name}}</a> </br>
                    </br>
                {% endfor %}
             </div>
        </section>
        <section class="contact d-flex justify-content-center align-items-center text-white ">
            <div class="row d-flex justify-content-between align-items-center text-white w-100 px-5">
                <div class="col-lg-6 justify-content-center">
                <h3 class="text-center fs-md-5">Contactez nous</h3>
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                <a href="{{ path('contact') }}" >Contact</a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
